.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.netcardform input, .netcardform select {
  width: 100% !important;
  border: 1px solid #282c34;
  height: 36px;
  line-height: 36px;
}

.p-button.p-togglebutton.p-component {
  text-align: center;
  background: crimson;
  color: #fff;
  height: 36px;
  line-height: 36px;
  cursor: pointer;
}

.p-button.p-togglebutton.p-component.p-highlight {
  background: mediumseagreen;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
